name: CI

on: [push]

permissions: read-all

jobs:
  test_actions:
    name: Test actions
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout for testing preparation
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Use Node.js current version
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: current

      - name: Install package dependencies
        run: npm ci

      - name: Build the actions
        run: npm run build

      - name: Test actions for simple action
        uses: ./
        with:
          workloadIdentityProvider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          serviceAccount: ${{ secrets.SERVICE_ACCOUNT }}
          project: github-workflow-sws
