name: CI

on: [push]

permissions:
  contents: read

jobs:
  test_actions:
    name: Test actions
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Checkout for testing preparation
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Use Node.js current version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: current

      - name: Install package dependencies
        run: npm ci

      - name: Build the actions
        run: npm run build

      - name: Test actions for simple action
        uses: ./
        with:
          workloadIdentityProvider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          serviceAccount: ${{ secrets.SERVICE_ACCOUNT }}
          project: github-workflow-sws
