name: CodeQL

on:
  push:
    branches: [main, beta, alpha]
  pull_request:
    branches: [main, beta, alpha]

permissions:
  contents: read

jobs:
  codeql:
    name: Code QL
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository for code analysis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Initialize CodeQL
        uses: github/codeql-action/init@9e907b5e64f6b83e7804b09294d44122997950d6
        with:
          languages: javascript
          queries: security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@9e907b5e64f6b83e7804b09294d44122997950d6
