name: CD

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish_marketplace:
    name: Publish Action to Marketplace
    if: ${{ github.repository == 'sws2apps/firebase-deployment' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: main
          persist-credentials: true

      - name: Use Node.js current version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: lts/Krypton

      - name: Install package dependencies
        run: npm ci

      - name: Run Semantic Release to version and publish the action
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
